$theme_color=rgba(163, 202, 46, 0.2)
@font-face
    font-family: soft_Bold
    font-style: normal
    src: url(../font/GenJyuuGothic-Bold.ttf)
@font-face
    font-family: pinRu
    font-style: normal
    src: url(../font/PinRu.ttf)
